* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  margin-top: 2rem;
}

.card {
  border: 5px outset red;
  width: 200px;
  height: 30vh;
  background-color: lightblue;    
  text-align: center;
  padding: 5px 10px;
  margin-top: 2rem;
  margin-left: 1rem;
}

.details {
  padding: 1rem;
}

.details h1, p {
  margin-top: 1.5rem;
}